%h2="Sign up"

= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
  = devise_error_messages!

  .entry
    #{f.label :name} <br />
    #{f.text_field :name}

  .entry
    #{f.label :email} <br />
    #{f.email_field :email}

  .entry
    #{f.label :password} <br />
    #{f.password_field :password}

  .entry
    #{f.label :password_confirmation} <br />
    #{f.password_field :password_confirmation}

  .entry
    #{f.submit "Sign up"}
