%html
  %head
    %link{"rel" => "Stylesheet", "href" => "main.css"}
  %body
    #topbar
      The Go Fish Game
    #content
      #subcontent
        %form{"method" => "post", "action" => "/game"}
          - if(@user.games.size > 0) then
            #banner="Welcome back, #{@user.name}!"
            You've played #{count_games} games before.
            You've won #{count_wins} games. (#{percentage_wins.to_s}%)<br />
            Full Stats:<br />
            <table><tr><td>Wins</td><td>Losses</td><td>Ties</td></tr>
            <tr><td>count_wins</td><td>count_losses</td><td>count_ties</td></tr>
            </table>
          - else
            #banner="Welcome, #{@user.name}!"
            You haven't played any games.
          <br />Would you like to start a new game?
          %input{"type" => "hidden", "name" => "player_name", "value" => @user.name}
          %input{"type" => "submit", "value" => "Start Game"}
